<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sipousco - Inicio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="Assets/img/sipousco.ico"/>
        <link rel="icon" type="image/png" href="Assets/images/sipousco.ico"/>
        <link rel="stylesheet" type="text/css" href="Assets/css/util.css">
        <link rel="stylesheet" type="text/css" href="Assets/css/main.css">
    </head>
    <body  bgcolor="#8F141B" style="background-image: url('Assets/img/usco1.jpg'); background-repeat:no-repeat; background-position:center; background-size: cover; background-attachment: fixed; "> 

    <center><div class="imagenti" height: 100%;"><img src="Assets/img/logo34.png" width="700" height="150" style="padding-top: 25px;"><br>
            <br>
            <h2 class="login100-form-title p-b-59" style="text-shadow: 0.1em 0.1em #333">Informate sobre el ingreso a la <br>educación superior</h2>

            <table style="margin:auto; border-spacing: 15px;">
                <tr>
                    <td>
                        <img src="Assets/img/papel3.png" width="125" height="125">
                    </td>
                    <td>
                        <img src="Assets/img/prueba.png" width="125" height="125">
                    </td>
                    <td>
                        <img src="Assets/img/ayudar.png" width="125" height="125">
                    </td>
                </tr>
            </table>
            <br>
            <table style="border-spacing: 15px;">
                <tr>
                    <td>
                        <div class="container-login100-form-btn" >
                            <div class="wrap-login100-form-btn" style="margin: auto;">
                                <div class="login100-form-bgbtn"></div>
                                <form action="index.html">
                                    <button style="color: #8F141B; " class="login100-form-btn">
                                        <label class="txt2q">Iniciar Sesión</label>
                                    </button>
                                </form>
                            </div>
                        </div>    
                    </td>
                    <td>
                        <div class="container-login100-form-btn" >
                            <div class="wrap-login100-form-btn" style="margin: auto;">
                                <div class="login100-form-bgbtn"></div>
                                <form action="registro.html">
                                    <button style="color: #8F141B; " class="login100-form-btn">
                                        <label class="txt2q">Registrarse</label>
                                    </button>
                                </form>
                            </div>
                    </td>
                </tr>
            </table>		
            </body>
        </div>
</html>
