<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ponderdos Usco - Opciones</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="Assets/img/sipousco.ico"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="Assets/vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="Assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="Assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="Assets/vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="Assets/vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="Assets/vendor/select2/select2.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="Assets/css/util.css">
        <link rel="stylesheet" type="text/css" href="Assets/css/mainprueba.css">
        <!--===============================================================================================-->
    </head>
    <body>
        <div class="limiter">
            <div class="container-login100">
                <table class="tabla">
                    <tr>
                        <td><div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
                                <center><img src="Assets/img/calcular1.png" align="center" width="125" height="125"></center>
                                <form class="login100-form validate-form">
                                    <span class="login100-form-title p-b-55">
                                        ¿Deseas calcular tu promedio ponderado?
                                    </span>
                                    <div class="container-login100-form-btn p-t-25">
                                        <button class="login100-form-btn">
                                            ¡Hazlo aquí!
                                        </button>
                                    </div>
                                </form>    
                            </div>
                        </td>
                        <td><div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
                                <center><img src="Assets/img/pregunta11.png" align="center" width="125" height="125"></center>
                                <form class="login100-form validate-form">
                                    <span class="login100-form-title p-b-55">
                                        Puntaje necesario para tu carrera
                                    </span>
                                    <div class="container-login100-form-btn p-t-25">
                                        <button class="login100-form-btn">
                                            ¡Consultalo aquí!
                                        </button>
                                    </div>
                                </form>    
                            </div>
                        </td>
                        <td><div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
                                <center><img src="Assets/img/test1.png" align="center" width="125" height="125"></center>
                                <form class="login100-form validate-form">
                                    <span class="login100-form-title p-b-55">
                                        Test de orientación vocacional
                                    </span>
                                    <div class="container-login100-form-btn p-t-25">
                                        <button class="login100-form-btn">
                                            ¡Comienza ahora!
                                        </button>
                                    </div>
                                </form>    
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!--===============================================================================================-->
        <script src="Assets/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="Assets/vendor/bootstrap/js/popper.js"></script>
        <script src="Assets/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="Assets/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="Assets/js/main.js"></script>
    </body>
</html>
